.quiz {
    &-question {
      &-h2 {
        border-bottom: solid;
      }
  
      &__logo {
        width: 10%;
      }
    }
  
    &-answer__list {
      background: #c5e4ff;
  
      ul {
        padding: 20px 10px;
  
        li {
          list-style: none;
          margin: 10px 0px;
        }
      }
    }
  
    &-correct {
      &-h2 {
        border-bottom: solid;
      }
  
      &__logo {
        width: 10%;
      }
  
      &-answer {
        width: 10%;
        margin-bottom: 10px;
      }
    }
  
    &-show-answer {
      margin-bottom: 10px;
    }
  
    &-commentary {
      &-h2 {
        border-bottom: solid;
      }
  
      &__logo {
        width: 10%;
      }
  
      &__text {
        padding: 0px 20px;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }
  
    &-next__button {
      margin: 10px;
    }
  
    &-finish__button {
      margin: 10px;
    }
  }