.share-network {
    &-twitter {
      text-decoration: none;
    }
    &-facebook {
      text-decoration: none;
    }
    &-line {
      text-decoration: none;
    }
    &-linkedin {
      text-decoration: none;
    }
  }
  .twitter {
    &__share {
      color: $twitter-blue;
      border-radius: 5px;
      border: solid 0.5px $twitter-blue;
      padding: 3px;
      margin-bottom: 5px;
    }
  }
  
  .facebook {
    &__share {
      color: $facebook-blue;
      border-radius: 5px;
      border: solid 0.5px $facebook-blue;
      padding: 3px;
      margin-bottom: 5px;
    }
  }
  
  .line {
    &__share {
      color: $line-green;
      border-radius: 5px;
      border: solid 0.5px $line-green;
      padding: 3px;
      margin-bottom: 5px;
    }
  }
  
  
  .linkedin {
    &__share {
      color: $linkedin-blue;
      text-decoration: none;
      border-radius: 5px;
      border: solid 0.5px $linkedin-blue;
      padding: 3px;
      margin-bottom: 5px;
    }
  }
  
  .btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
  
    &:hover {
      color: #fff;
      background-color: #286090;
      border-color: #204d74;
    }
  }