header {
    margin-top: -10px;
    background: $white;
  
    h1 {
      font-size: 12px;
      margin: 10px;
    }
  
    .navbar-brand {
      color: $white;
    }
  
    .nav-item {
      padding-left: 10px;
  
      a {
        text-decoration: none;
      }
    }
  
    .navbar {
      background: $thin-gray;
      border-color: $thin-gray;
    }
  
    .header {
      &-nav__logo {
        width: 200px;
        margin-top: -15px;
      }
  
      &-nav__drop-down {
        background: $thin-gray;
      }
    }
  
    #header {
      &-nav {
        &__home {
          color: $white;
        }
  
        &__login {
          color: $white;
        }
  
        &__register {
          color: $white;
        }
  
        &__name {
          color: $white;
        }
  
        &__mypage {
          color: $white;
          margin: auto;
        }
  
        &__logout {
          color: $white;
          margin: auto;
        }
      }
    }
  }