@font-face {
    font-family: "NasuM-Regular";
    src: url(../../fonts/NasuM-Regular.ttf);
  }
  
  body {
    font-family: NasuM-Regular, sans-serif;
  }
  
  html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    margin-bottom: 60px;
  }
  
  main {
    padding-top: 20px;
    background: $gray;
    padding-bottom: 50px;
    min-height: 1000px;
  }
  
  article {
    border: solid $gray;
    background: $white;
    width: 60%;
  }
  
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  
  @media (min-width: 992px) {
    .col-sm-8 {
      width: 60%;
    }
  
    .col-sm-4 {
      width: 37%;
    }
  }